# Python / Conda
.env
.venv
.envrc
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.mypy_cache/
.pytype/

# QGIS / data artifacts
*.qgz
*.qgs
*.gpkg
*.mbtiles
*.tif
*.log
*.aux.xml
*.qmd

# Build artifacts
/dist/

# OS / editor
.DS_Store
.idea/
.vscode/

# Data
/data/processed/
/data/tmp/
/data/cache/
